:root {
    --font: 'Roboto';
    --magenta: #ff2002; /*ff2f06; */ /* fd1056; */
    --cyan: #08fdd8;
}

@media (max-width: 400px) {}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: var(--font);
    font-weight: 400;
    scroll-behavior: smooth;
}

/* ** WELCOME ** */
.welcome {
    height: inherit;
    background-color: #1d1d1d;
    background-image: url("images/background/grey.png");
    background-repeat: repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
}

.navigation-link {
    display: block;
    font-size: 18pt;
    margin: 30px;
    position: relative;
}

/**/
.navigation-link-mouseover {
    display: none;
}

.navigation-link:hover .navigation-link-mouseover {
    display: block;    
    padding: 5px 20px;
    /* background-color: #101010; */
    background-color: var(--cyan);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 35px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

.rotate {
    animation-name: rotate;
    animation-duration: .1s;
}

@keyframes rotate {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/**/

.willkommen {
    font-family: var(--font);
    text-align: center;    
    /* margin: 30px 0; */
    font-size: 36pt;
    font-weight: 400;
    transition: .2s ease-out;
}

.decoration {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.magenta, .cyan {
    font-family: 'Poppins';
    font-weight: 200; /* 100 */
    font-size: 36pt;
}

.magenta {
    color: var(--magenta);
    font-weight: 400;
}

.cyan {
    color: var(--cyan);
}

#cyan-left {
    position: relative;
    left: -20px; /* -16 */
}

#cyan-right {
    position: relative;
    right: 27px;
}

.decoration-blink {
    opacity: 0.1;
}

.mouseenter-x {
    transform: scaleX(1.15);
}

.mouseenter-y {
    transform: scaleY(1.15);
}

.skills {
    font-size: 11pt;
    font-weight: 300;
    /* margin-top: 20px; */
    margin-bottom: 30px;
    color: white;
}

.arrow {
    margin: 15px;
    font-size: 18pt;
    transition: opacity .5s ease-out;
}

.arrow-blink {
    opacity: 0.4;
}

/* ** about ** */
.about {
    height: inherit;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/background/grey.png");
    background-repeat: repeat;
}

h2 {
    font-family: var(--font);
    /* font-family: 'Maven Pro'; */
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 24pt;
    text-transform: uppercase;
    margin: 20px;
    color: white;
    position: relative;
    transition: .2s ease-out;
}

.letter-magenta {
    color: var(--magenta);
    font-weight: 500;
}

.letter-cyan {
    position: absolute;
    top: 0;
    left: -3px;
    font-weight: 300;
    color: var(--cyan);
}

.letter-blink {
    opacity: 0.1;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.photo {
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 50%;
    transition: filter .2s ease-out;
    z-index: 5;
}

.photo-border-magenta, .photo-border-cyan, .photo-border-black {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.photo-border-magenta {
    background-color: var(--magenta);
    margin: 27px;
    z-index: 3;
}

.photo-border-cyan {
    background-color: var(--cyan);
    margin: 33px;
    z-index: 2;
}

.photo-border-black {
    background-color: black;
    margin-top: 37px;
    margin-left: 27px;
    z-index: 1;
}

.photo:hover {
    filter: brightness(1.05);
}

article {
    width: 700px;
    margin: 15px 30px;
    line-height: 1.5;
    font-size: 12pt;
    font-weight: 300;
    font-family: var(--font);
}

b {
    font-weight: 500;
}

.article-paragraph {
    margin: 5px 0px;
}

.fa-angle-right {
    margin: 0 7px;
}

.list-div {
    display: flex;
}

.list-border-left {
    width: 1px;
    background-color: var(--cyan);
    margin: 10px 10px 10px 2px;
}

ul {
    list-style-type: none;
    /* margin: 10px 10px 10px 2px; */
    /* padding-left: 5px; */
    /* border-left: 2px solid #446eb2; */
}

li {
    margin: 5px;
}

.link-li {
    display: inline-block;
    transition: .2s ease-out;
}

.link-li:hover {
    transform: translate(10px);
}

.ribbon {
    position: relative;
    top: 7px;
    left: 7px;
}

/* ** PROJECTS ** */
.projects {
    height: inherit;
    background-color: #101010;
    background-image: url("images/background/grey.png");
    background-repeat: repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    display: flex;
    align-items: center;
    position: relative;
}

.single-project {
    display: flex;
    position: relative;
    margin: 40px 50px 70px 50px;
}

#left-arrow, #right-arrow {
    color: var(--cyan);
    cursor: pointer;
    position: relative;
    top: -20px;
}

.active {
    display: flex;
}

.hidden {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

.single-project-img {
    position: relative;
}

.single-project-img span {
    display: none;
}

.single-project-img:hover span {
    display: block;    
    padding: 5px 20px;
    background-color: #101010;
    /* background-color: var(--cyan); */
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

.single-project-description {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    padding: 25px;
    font-weight: 300;
    position: relative;
}

.react-icon, .jquery-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.single-project-title {
    padding: 5px 5px 20px 5px;
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
    /* border: 1px solid salmon; */
}

.single-project-languages {
    padding: 5px 5px 20px 5px;
    /* border: 1px solid red; */
}

.single-project-languages ul {
    /* border-left: 1px solid var(--cyan); */
    margin-top: 10px;
    margin-left: 5px;
}

.single-project-languages li {
    /* border: 1px solid yellow; */
    padding: 0 7px;
}

#html {
    border-left: 4px solid #e34c26;
}

#css {
    border-left: 4px solid #563d7c;
}

#javascript {
    border-left: 4px solid #f1e05a;
}

.single-project-info {
    /* border: 1px solid chartreuse; */
    line-height: 1.6;
}

a {
    color: white;
    text-decoration: none;
}

/* ** contacts ** */
.contacts {
    height: inherit;
    background-color: #101010;
    background-image: url("images/background/grey.png");
    background-repeat: repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-div {
    margin: 15px;
}

.contact-link {
    display: inline-block;
    padding: 20px;
    font-size: 12pt;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.contact-link:hover {
    color: var(--cyan);
    transform: translate(10px);
}