:root {
    --font: 'Quicksand';
}

@media (max-width: 400px) {}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: var(--font);
    font-weight: 400;
    scroll-behavior: smooth;
}

/* ** welcome ** */
.welcome {
    height: inherit;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: var(--font);
    text-align: center;    
    margin: 20px;
}

.paragraph {
    font-size: 40pt;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.heart {
    font-size: 30pt;
    background: -webkit-linear-gradient(#5a4594, #e0437a, #fc5151);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity .5s ease-out;
}

.heart-blink {
    opacity: 0.6;
}

.brace {
    font-family: 'Roboto';
    font-weight: 100;
}

.willkommen {
    font-size: 36pt;
    font-weight: 300;
}

.arrow {
    margin: 15px;
    font-size: 18pt;
    transition: opacity .5s ease-out;
}

.arrow-blink {
    opacity: 0.4;
}

.skills {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(180deg, #5a4594, #e0437a, #fc5151);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ** about ** */
.about {
    height: inherit;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 24pt;
    margin: 20px;
    background: -webkit-linear-gradient(180deg, #5a4594, #e0437a, #fc5151);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.photo {
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 50%;
    transition: filter .2s ease-out;
    z-index: 1;
}

.photo-border-upper, .photo-border-lower {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.photo-border-upper {
    background: linear-gradient(180deg, #5a4594, #e0437a, #fc5151);
    width: 222px;
    height: 222px;
    margin: 19px;
}

.photo-border-lower {
    background-color: #101010;
    width: 220px;
    height: 220px;
    margin: 20px;
}

.photo:hover {
    filter: brightness(1.1);
}

article {
    width: 700px;
    /* margin: 30px; */
    margin: 15px 30px;
    line-height: 1.5;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Maven Pro';
}

b {
    font-family: var(--font);
}

.article-paragraph {
    margin: 5px 0px;
}

.fa-angle-right {
    /* color: #446eb2; */
    margin: 0 7px;
}

.list-div {
    display: flex;
}

.list-border-left {
    width: 1px;
    background: linear-gradient(#5a4594, #e0437a, #fc5151);
    margin: 10px 10px 10px 2px;
}

ul {
    list-style-type: none;
    /* margin: 10px 10px 10px 2px; */
    /* padding-left: 5px; */
    /* border-left: 2px solid #446eb2; */
}

li {
    margin: 5px;
}

.link-li {
    display: inline-block;
    transition: 0.2s ease-out;
}

.link-li:hover {
    color: #446eb2;
    transform: translate(10px);
}

.ribbon {
    position: relative;
    top: 7px;
    left: 7px;
}

/* ** projects ** */
.projects {
    height: inherit;
    background-color: #101010;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

#row-1 {
    margin-top: 30px;
}

#row-2 {
    margin-bottom: 35px;
}

.single-project {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 1px;
    /* filter: grayscale(1); */
}

.single-project:hover {
    filter: brightness(1.1);
}

.single-project a img {
    /* border-radius: 5px; */
}

.single-project span {
    display: none;
}

.single-project:hover span {
    display: block;    
    padding: 5px 20px;
    background-color: #101010;
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

a {
    color: white;
    text-decoration: none;
}

/* ** contacts ** */
.contacts {
    height: inherit;
    background-color: #101010;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-div {
    margin: 15px;
}

.contact-link {
    display: inline-block;
    padding: 20px;
    font-size: 14pt;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.contact-link:hover {
    color: #446eb2;
    transform: translate(10px);
}